# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.DS_STORE
*.idea
*.vscode
out_env.txt
.gcloudignore
*.deploy.yaml
app.local.deploy
prod.env
prod.txt

horusec-config.json
.horusec

# Binaries for programs and plugins
api-manager-carrer
*.exe
*.exe~
*.dll
*.so
*.dylib